apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend-api
  template:
    metadata:
      labels:
        app: backend-api
    spec:
      containers:
        - name: backend
          image: gcr.io/interview-ai-482614/backend:1.5
          ports:
            - containerPort: 5000
          envFrom:
            - secretRef:
                name: backend-secrets
